## Deliverable 2. Create a Customer Travel Destinations Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [35]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Leningradskiy,RU,69.3833,178.4167,35.73,82,25,6.53,scattered clouds
1,1,Samarai,PG,-10.6167,150.6667,81.37,65,63,14.65,broken clouds
2,2,Sabang,ID,5.8933,95.3214,83.37,75,100,19.30,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,57.31,95,100,6.51,light rain
4,4,Barrow,US,71.2906,-156.7887,35.62,69,90,13.80,overcast clouds

In [36]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [37]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Samarai,PG,-10.6167,150.6667,81.37,65,63,14.65,broken clouds
2,2,Sabang,ID,5.8933,95.3214,83.37,75,100,19.30,overcast clouds
5,5,Vaini,TO,-21.2000,-175.2000,78.96,73,20,11.50,few clouds
8,8,Phan Thiet,VN,10.9333,108.1000,83.26,74,100,2.55,overcast clouds
10,10,San Cristobal,VE,7.7669,-72.2250,75.38,90,52,2.68,broken clouds
11,11,Butaritari,KI,3.0707,172.7902,83.66,79,85,19.24,light rain
15,15,Georgetown,MY,5.4112,100.3354,78.75,95,40,3.44,moderate rain
16,16,Atuona,PF,-9.8000,-139.0333,79.63,75,76,13.78,light rain
19,19,Hilo,US,19.7297,-155.0900,81.28,78,90,13.80,overcast clouds
20,20,Morant Bay,JM,17.8815,-76.4093,82.02,87,17,8.03,few clouds

In [38]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [39]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# no null rows
#clean_preferred_cities_df = preferred_cities_dr.dropna()

In [40]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Samarai,PG,81.37,broken clouds,-10.6167,150.6667,
2,Sabang,ID,83.37,overcast clouds,5.8933,95.3214,
5,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
8,Phan Thiet,VN,83.26,overcast clouds,10.9333,108.1000,
10,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,
11,Butaritari,KI,83.66,light rain,3.0707,172.7902,
15,Georgetown,MY,78.75,moderate rain,5.4112,100.3354,
16,Atuona,PF,79.63,light rain,-9.8000,-139.0333,
19,Hilo,US,81.28,overcast clouds,19.7297,-155.0900,
20,Morant Bay,JM,82.02,few clouds,17.8815,-76.4093,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API (nearby search used instead) to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping")
                
hotel_df.head()

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Samarai,PG,81.37,broken clouds,-10.6167,150.6667,Nuli Sapi
2,Sabang,ID,83.37,overcast clouds,5.8933,95.3214,Hotel Citra
5,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Phan Thiet,VN,83.26,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
10,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,Posada Villaven C.A.

In [42]:
# 7. Drop the rows where there is no Hotel Name.  (18 skipped 294-18=276)
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != "",:]
clean_hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 1 to 701
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 276 non-null    object
 1   Country              276 non-null    object
 2   Max Temp             276 non-null    float64
 3   Current Description  276 non-null    object
 4   Lat                  276 non-null    float64
 5   Lng                  276 non-null    float64
 6   Hotel Name           276 non-null    object
dtypes: float64(3), object(4)
memory usage: 17.2+ KB

In [43]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots.
#locations = hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))